# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=npixie_lore

# Model
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-8b-instant

# RAG
DEFAULT_NPC=nara
CHUNK_SIZE=500
CHUNK_OVERLAP=50
TOP_K=3